.ipynb_checkpoints
.idea
tmp_gif/
save/
data/
.DS_Store
__pycache__/
*.xlsx
build/
pea.egg-info/
*.png
*.pickle
*.ipynb
notebooks/
images/
.pytest_cache/
.coverage
htmlcov/
projects/
/src/portfolio_dashboard.egg-info/
